<script setup lang="ts">
import { LIcon, LMarker } from "@vue-leaflet/vue-leaflet";
import Intervention from "../types/intervention";

const { baseURL }: { baseURL: string } = useRuntimeConfig().app;
const { id } = useRoute().params;
const authorizationHeader = useAuthorizationHeader("application/json");
const { data: intervention } = await useFetch<Intervention>(baseURL + 'api/interventions/' + id, {
  "headers": authorizationHeader
});

let expanded = ref<boolean>(false);
</script>

<template>
  <section class="fr-accordion">
    <h3 class="fr-accordion__title">
      <button class="fr-accordion__btn" :aria-expanded="expanded" @click="expanded = !expanded"
        aria-controls="accordion-1">Voir la carte</button>
    </h3>
    <div v-if="intervention !== null" :class="{ 'fr-collapse': true, 'fr-collapse--expanded': expanded }" id="accordion-1">
      <Map :lat-lng="[intervention.location.latitude, intervention.location.longitude]" :zoom="20" class="map">
        <LMarker :lat-lng="[intervention.location.latitude, intervention.location.longitude]">
          <LIcon :icon-url="usePinPicture(intervention.priority.slug)" />
        </LMarker>
      </Map>
    </div>
  </section>
</template>

<style scoped>
  .fr-collapse--expanded {
    --collapse: -536px;
    --collapse-max-height: none;
  }

  .map {
    height: 25rem;
  }
</style>
