<script setup lang="ts">
  import "leaflet/dist/leaflet.css";
  import { LMap, LTileLayer } from "@vue-leaflet/vue-leaflet";

  defineProps({
    latLng: Array,
    zoom: Number
  });
</script>

<template>
  <div class="map-container">
    <l-map ref="map" :zoom="zoom" :center="latLng" class="map" :use-global-leaflet="false">
      <l-tile-layer
        url="https://{s}.tile.jawg.io/jawg-sunny/{z}/{x}/{y}{r}.png?access-token=8wqzwUmgq5OKhGlDMEhxWrqJce7Bof84Fn8yfs3TiJtXHOdMaID1p8eAeqcdMt2t"
        layer-type="base"
        name="Jawg.Sunny"
        attribution='<a href="http://jawg.io" title="Tiles Courtesy of Jawg Maps" target="_blank">&copy; <b>Jawg</b>Maps</a> &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
      ></l-tile-layer>
      <slot></slot>
    </l-map>
  </div>
</template>

<style scoped>
  .map-container{
    height: 36.5rem;
    width: 100%;
    min-height: 3.125rem;
    position: relative;
  }

  .map {
    z-index: 0;
    /* Safari */
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0, 0, 0);
  }
</style>
