<script setup lang="ts">
import Intervention from "../../../types/intervention";

definePageMeta({
  middleware: "authentication",
});

import { ref } from "vue";
let showModal = ref(false);

const { baseURL }: { baseURL: string } = useRuntimeConfig().app;
const patchAuthorizationHeader = useAuthorizationHeader(
  "application/merge-patch+json"
);
const { id } = useRoute().params;

async function changeStatus(id: number) {
  try {
    const response = await $fetch<Intervention>(`${baseURL}api/interventions/${id}`, {
      method: "PATCH",
      headers: patchAuthorizationHeader,
      body: JSON.stringify({
        status: `/status/finished`,
      }),
    });
    window.location.href = `/interventions/${id}/terminee`;

    // Traiter la réponse si nécessaire
  } catch (error) {
    console.error(error);
  }
}
</script>
<template>
  <SubHeader>
    <h1 class="fr-p-4v">Intervention - #{{ id }}</h1>
  </SubHeader>
  <Stepper :current="2" :last="3" :labels="['À faire', 'En cours', 'Terminé']">
  </Stepper>
  <InterventionDetails>
    <section slot="carte">
      <Accordeon />
    </section>
  </InterventionDetails>
  <button class="fr-btn fr-grid-row--center" @click="showModal = true">
    Terminer l'intervention
  </button>
  <Modal :show="showModal" @close="showModal = false">
    <div class="fr-mx-2w">
      <h2 class="fr-icon-arrow-right-line">Finaliser l’intervention ?</h2>
      <p class="fr-pb-2w">
        Vous vous apprêtez à valider la fin de votre intervention.
      </p>
    </div>
    <ul class="fr-btns-group fr-mx-2w">
      <li>
        <button
          class="fr-btn fr-grid-row--center"
          @click.prevent="changeStatus(id)"
        >
          Terminer l’intervention
        </button>
      </li>
      <li>
        <button
          class="fr-btn fr-btn--secondary fr-grid-row--center"
          @click="showModal = false"
        >
          Annuler
        </button>
      </li>
    </ul>
  </Modal>
</template>

<style scoped>
button {
  width: 100%;
  position: sticky;
  bottom: 0;
}
</style>
