<script setup lang="ts">
import imageCompression from 'browser-image-compression';
import { ref } from "vue";
import Picture from '../../../types/picture';

definePageMeta({
  middleware: "authentication",
});
const tokenCookie = getToken() ?? "";
const imageCompressor = imageCompression;

let showModal = ref(false);
let imageData = ref("");
let pictureFile = ref();
function previewImage(event: Event) {
  pictureFile.value = event.target.files[0];
  
  const compressionOptions = {
    maxSizeMB: 0.2,
    maxWidthOrHeight: 1500,
    useWebWorker: true
  };
  imageCompressor(pictureFile.value, compressionOptions)
  .then((compressedPicture) => {
    pictureFile.value = compressedPicture;
  });

  const reader = new FileReader();
  reader.onload = () => {
    imageData.value = URL.createObjectURL(pictureFile.value);
  };
  reader.readAsDataURL(pictureFile.value);
}

defineProps({
  showModal: Boolean,
});

const { publicApiUrl }: { publicApiUrl: string }  = useRuntimeConfig().public;
const { id } = useRoute().params;

// Transformation Date en iso
const currentDate: { value: string } = { value: "" };
const date = new Date();
currentDate.value = date.toISOString();

// Submit de la photo
async function submitPicture() {
  try {
    if (imageData.value) {
      const pictureFormData = new FormData();
      const pictureDate = new Date();
      pictureFormData.append('picture_file', pictureFile.value, pictureFile.value.name);
      pictureFormData.append('intervention', `/interventions/${id}`);
      pictureFormData.append('createdAt', pictureDate.toISOString());
      pictureFormData.append('tags', `["/picture-tags/after"]`);

      /** @type {Parameters<fetch>[1]} */
      const fetchOptions = {
        // Pour l'envoi direct à l'API.
        headers: {"Authorization": "Bearer "+ tokenCookie},
        method: 'post',
        body: pictureFormData
      };

      await useFetch<Picture>(
        publicApiUrl + "pictures",
        fetchOptions
      );
      console.log("La photo a bien été envoyé");
      window.location.href = `/interventions/${id}/confirmation`;
    }
  } catch (error) {
    console.error(error);
    alert("La photo ne s'est pas envoyée");
  }
}
</script>

<template>
  <SubHeader>
    <h1 class="fr-p-4v">Intervention - #{{ id }}</h1>
  </SubHeader>
  <Stepper :current="2" :last="3" :labels="['À faire', 'En cours', 'Terminé']">
  </Stepper>
  <InterventionDetails>
    <section slot="carte">
      <Accordeon />
    </section>
  </InterventionDetails>

  <ul class="fr-btns-group" id="photo">
    <li>
      <a
        class="fr-btn fr-btn--secondary"
        :href="`/interventions/${id}/confirmation`"
      >
        Continuer sans photo
      </a>
    </li>
    <li>
      <input
        type="file"
        ref="fileInput"
        capture="environment"
        accept="image/*"
        id="file-upload"
        name="file-upload"
        @change="previewImage"
        @click="showModal = true"
      />
      <label for="file-upload" class="fr-btn"> Prendre une photo </label>
    </li>
  </ul>
  <Modal :show="showModal" @close="showModal = false">
    <div class="fr-mx-2w" v-if="imageData">
      <img class="fr-responsive-img" :src="imageData" />
    </div>
    <button class="fr-btn fr-grid-row--center" @click="submitPicture">
      Ajouter la photo
    </button>
  </Modal>
</template>

<style scoped>
input[type="file"] {
  height: 0;
  width: 0;
  overflow: hidden;
}

ul {
  position: sticky;
  bottom: 0;
  background-color: var(--background-default-grey);
  z-index: 1;
}

a,
label {
  width: 100%;
}

button {
  width: 100%;
  position: sticky;
  bottom: 0;
}
</style>
