:root {
	--height-header: 80px;
	--height-stepper: 110px;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
}

h1 {
	font-size: 1.25rem;
}

h2 {
	font-size: 1rem;
}

h3 {
	font-size: 0.875rem;
}

p {
	font-size: 0.875rem;
}

.fr-btn {
height: 4rem;
}

.leaflet-control-container{
	display: none;
}

.leaflet-pane, .leaflet-proxy {
	z-index: 0 !important;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0, 0, 0);
}